body {
  margin: $spacing*5;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
  text-shadow: 0px 1px 0px $lightGray;
  text-align: center;
  font-size: $sizeSD;
}

.btn-size {
  width: $sizeSD * 11.5;
}

.button {
  background: linear-gradient($lightGray + 50, $darkGray);
  border-radius: $corners - 10;
  padding: $spacing*2;
  @include shadow($darkGray)
}

.btn-mid-border {
  border: $spacing solid $lightGray;
  border-radius: $corners - 4;
}

.btn-container {
  background-color: $white;
  border: $spacing/2 solid $black;
  border-radius: $corners;
  @include shadow($darkGray);
  padding: $spacing/3.5;
  cursor: pointer;
}

.btn-container:hover {
  box-shadow: 5px 5px 5px $darkGray;
}
